@import "../../theme/mixin.scss";

.btn-container {
  display: grid;
  grid-template-columns: repeat(2, auto);

  .btn-order {
    width: fit-content;
  }

  .btn-view {
    width: fit-content;
  }
}

.default-container {
  display: grid;
  place-items: center;
  height: 100%;

  img {
    height: 64px;
  }

  .smallText {
    font-size: small;
  }
}
