.price {
    display: flex;
    place-content: space-between;
    place-items: center;
}

.item-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.btn-container {
    display: flex;
    place-content: space-between;
    place-items: center;
}
