<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-button class="btn-img-edit" fill="clear" size="small">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <img class="item-image" src="{{img_path}}">
    <ion-card-header>
      <ion-card-title class="price">
        <ion-item>
          <ion-label position="floating">Name of dish</ion-label>
          <ion-input clearInput position="stacked" value="{{item.name}}" placeholder="Enter Input"></ion-input>
        </ion-item>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-item>
          <ion-label position="floating">Unit price</ion-label>
          <ion-input clearInput position="stacked" value="{{item.unit_price|currency:'INR'}}" placeholder="Enter Input">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Min. Order quantity</ion-label>
          <ion-input clearInput position="stacked" value="{{item.min_order_qty}}" placeholder="Enter Input"
            type="number" min=0></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Include Offer</ion-label>
          <ion-select value="{{item.o_desc}}" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="">Nil</ion-select-option>
            <ion-select-option value="Buy 1 Get 1">Buy 1 Get 1</ion-select-option>
            <ion-select-option value="25% Off">25% Off</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Short Description</ion-label>
        <ion-input clearInput value="{{item.short_desc}}" position="stacked" placeholder="Enter Input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea rows="6" clearOnEdit="true" value="{{item.description}}"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">WhatsApp Contact</ion-label>
        <ion-select [(ngModel)]="item.w_app_order_contact" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="+91-7256301489">+91-7256301489</ion-select-option>
          <ion-select-option value="+91-7256301450">+91-7256301450</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Inquiry Contact</ion-label>
        <ion-select [(ngModel)]="item.call_order_contact" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="+91-7256301489">+91-7256301489</ion-select-option>
          <ion-select-option value="+91-7256301450">+91-7256301450</ion-select-option>
        </ion-select>
      </ion-item>
      <hr>
    </ion-card-content>
  </ion-card>
  <div class="btn-container">
    <ion-button color="primary" fill="clear" (click)="onCancel()">CANCEL</ion-button>
    <ion-button color="primary">SAVE</ion-button>
  </div>
</ion-content>
